.join-room-div {
  margin: 30px 40px;
  padding: 30px;
  box-shadow: 0 2px 7px rgb(100, 100, 100, 0.7),
    5px -2px 0.4em rgb(100, 100, 100, 0.7);
  border-radius: 5px;
  min-height: 500px;
  /* background-color: rgb(201, 201, 201, 0.5); */
  background-image: url("../../images/music.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
}

.input-div {
  display: flex;
  flex-direction: column;
  margin: 25px 0;
}

.text-div {
  display: flex;
}
.text-div input {
  width: 70%;
}
.text-div button {
  margin-left: 3px;
  width: calc(30% - 3px);
}
.join-room-button-div {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 40px 0;
}
.join-room-button {
  max-width: 300px;
  min-height: 30px;
  /* box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.7), -2px -5px 10px rgb(0, 0, 0, 0.7); */
  box-shadow: 2px 2px 10px rgb(255, 255, 255, 0.7),
    -2px -5px 10px rgb(255, 255, 255, 0.7);
}
