.profile-icons-div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  /* grid-template-columns: repeat(9, 1fr); */
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
