body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  min-height: 100vh;
  /* background-image: linear-gradient(#de6262,#ffb88c); */
  background-image: linear-gradient(
    to left top,
    rgb(4, 135, 158),
    rgb(3, 187, 110),
    rgb(3, 187, 95)
  );
  /* background-image: linear-gradient(#7b4397,#dc2430); */
  background-size: cover;
  background-position: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* *Styling for the scroll bar STARTS* */
body::-webkit-scrollbar {
  width: 0.7em;
  background-color: #fff;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(46, 44, 44);
  border: 1px solid rgb(186, 206, 183);
  border-radius: 10px;
}
/* *Styling for the scroll bar ENDS* */

a {
  color: inherit !important;
  text-decoration: none !important;
}

.main-container {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  position: relative;
}
