.create-room-div {
  margin: 30px 40px;
  padding: 30px;
  box-shadow: 0 2px 7px rgb(100, 100, 100, 0.7),
    5px -2px 0.4em rgb(100, 100, 100, 0.7);
  border-radius: 5px;
  min-height: 500px;
  background-image: url("../../images/music.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
}

.input-div {
  display: flex;
  flex-direction: column;
  margin: 25px 0;
}

.create-room-button-div {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 40px 0;
}
.create-room-button {
  max-width: 250px;
  min-height: 60px;
  /* box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.7), -2px -5px 10px rgb(0, 0, 0, 0.7); */
  box-shadow: 2px 2px 10px rgb(255, 255, 255, 0.7),
    -2px -5px 10px rgb(255, 255, 255, 0.7);
}
