.container-fluid {
  display: grid;
   grid-template-columns: repeat(auto-fill,3fr); 
  gap: 5px;
  /* grid-auto-rows: minmax(100px, auto); */
  border-radius: 25px;
  padding-top: 20px;
 
}

.songs-div {
  background-color:ghostwhite;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  width: 100%;
  min-height: 65px;
  margin: 0;
  padding: 0;
}
