.footer-div {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-content {
  width: 350px;
  /* background-color: rgb(12, 53, 167); */
  background-color: rgb(177, 37, 202);
  min-height: 60px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 2px solid #000;
  text-shadow: 2px 2px 2px #000;
  color: rgb(252, 251, 199);

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: 500;
}

.arrow-symbol {
  padding-left: 10px;
  font-size: 50px;
  line-height: 0;
}

.footer-image {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  /* height: 80px; */
  height: 180px;
  width: 100%;
}

.footer-content-button-div {
  width: 350px;
}

.footer-content-button:active {
  background-color: #b125ca !important ;
}

.footer-content-button:visited {
  border: none !important;
}
