.card-container {
  background: linear-gradient(315deg, #29539b 0%, #1e3b70 74%);
}

.card-heading {
  font-size: 50px;
  font-weight: bold;
}
.card-text {
  margin-top: 12%;
  font-family: monospace;
  font-size: 26px;
}
.card-arrow-symbol {
  line-height: 0;
  font-size: 100px;
}
.card-arrow-symbol:hover {
  color: rgb(250, 200, 200);
}
