.header {
  /* background-color: aquamarine; */
  text-align: center;
  margin-top: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .heading-image {
  width: 100px;
} */

.hr-line {
  background-color: blue;
  height: 0.4vh;
  width: 40vw;
  margin: 10px 0;
}

.heading-content {
  font-size: 20px;
  min-height: 40px;
  font-family: cursive;
}

@media screen and (max-width: 900px) {
  .heading-text {
    font-size: 20px;
  }
  .heading-content {
    font-size: 15px;
  }
}
