.card-container {
  width: 75%;
  /* width: 450px; */
  min-height: 300px;
  color: white;
  box-sizing: border-box;
  margin-top: 30px;
  margin-bottom: 10px;
  padding-bottom: 50px;
  /* background-color: #29539b; */
  background: linear-gradient(315deg, #29539b 0%, #1e3b70 74%);
  position: relative;
  box-shadow: 10px 15px 10px skyblue;
}

.card-heading {
  font-size: 50px;
  font-weight: bold;
}
.card-text {
  margin-top: 12%;
  font-family: monospace;
  font-size: 26px;
}
.card-arrow-symbol {
  position: absolute;
  bottom: 60px;
  line-height: 0;
  font-size: 100px;
  color: white;
}
