
.main-box{
    justify-content: center;
    display: flex;
    align-items: center;
    max-width: 500px;
    background: linear-gradient(
      rgba(205, 197, 218, 0.925),
      rgba(214, 200, 212, 0.836));
     margin-top: 50px;
     border-top-left-radius:30px ;
     border-top-right-radius:30px ;
     padding-top: 10px;

}