.footer-div {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  bottom: 0;
  /* background-color: red; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-image {
  margin: 0;
  padding: 0;
  height: 100px;
  width: 100%;
}
