.hr-line {
  background-color: blue;
  background-image: linear-gradient(to right, blue, skyblue, blue);
  border-radius: 10px;
  height: 0.5vh;
  width: 75vw;
  margin-bottom: 5px;
}

.heading-content {
  font-size: 18px;
  font-family: cursive;
}
