.ls {
  position: relative;
  background-color: rgb(15, 91, 163);
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  width: 100%;
  min-height: 200px;
  margin: 0;
  padding: 0;
}

.start-game {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 50px;
  font-weight: 600;
  font-size: 20px;
  border: none;
  background-color: rgb(240, 157, 3);
}
.start-game:hover {
  background-color: rgb(171, 255, 35);
  font-size: 21px;
  transition: all 0.2s linear;
}
