.ls{
    background-color: blue;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    width: 99vw;
    height: 40vh;
}

.ls-title{
    //background-color: yellow;
    text-align: center;
    padding: 2vh;
}

.ls-link{
    //background-color: yellow;
    margin: 4vh 4vw;
    display: flex;
    justify-content: space-between;

}

.ls-url{
    height: 5vh;
    border: none;
    border-radius: 7px;
    background-color: wheat;
    width: 80vw;
}

.add{
    height:5.3vh;
    border: none;
    border-radius: 5px;
    background-color: wheat;
    width: 10vw;

}

.ls-song{
    margin: 4vh 4vw;
    display: flex;
    justify-content: space-between;

}

.ls-song-link{
    background-color: yellow;
    height: 5vh;
    border-radius: 7px;
    background-color: wheat;
    width: 80vw;
    text-align: center;

}

.ls-song-btn{
    height:4.9vh;
    border: none;
    border-radius: 5px;
    background-color: wheat;
    width: 10vw;

}


.start-game{
    width: 99vw;
    height: 6vh;
    border: none;
    background-color: orange;
    border-color: orang;
}